~*
*~
*#*
#*#
*.eld
autosave-list/
eaf/
elpa/
ido.last
todo/
tramp/
url/
request/
emacs-for-python/
abbrev_defs
ac-comphist.dat
eproject.lst
tramp
recentf
company-statistics-cache.el
.session
abbrev_defs
network-security.data
*.sqlite
emacs-webkit
emacs-libvterm
projects
site-lisp/
transient/
.last-package-update-day
